---
import BaseLayout from "../../../layouts/BaseLayout.astro";
const url = "https://indexiv.org/ja/terms/" + Astro.params.slug + "/";
const type = "article";
const lang = "ja";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const entries = await getCollection("ja");

    return entries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry }
    }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

import Breadcrumb from '../../../components/Breadcrumb.astro';

const crumbs = [
    { label: "Home", href: "/ja/" },
    { label: entry.data.title, href: `/ja/terms/${entry.slug}/` }
];
---

<BaseLayout title={entry.data.title} description={entry.data.description} url={url} type={type} lang={lang}>
    <Breadcrumb items={crumbs} />
    <p>投稿日：{entry.data.date}</p>
    <p>概要：{entry.data.description}</p>
    <i class="fa-solid fa-tags"></i> Tags:
    {entry.data.tags.map((tag: string) => (
    <a class="tag" href={`../../tags/${tag}`}># {tag}</a>
    ))}
    <h4></h4>

    <div class="layout">
        <main>
            <Content />
        </main>

        <aside class="toc">
            <p>目次</p>
            <ul>
                {headings.map(h => (
                    <li
                        data-depth={h.depth}
                        style={`margin-left:${(h.depth - 2) * 12}px`}
                    >
                        <a href={`#${h.slug}`} data-slug={h.slug}>
                            {h.text}
                        </a>
                    </li>
                ))}
            </ul>
        </aside>
    </div>

</BaseLayout>
