---
import BaseLayout from "../../components/BaseLayout.astro";
const lang = "ja";
const type = "website";
const title = "About";
const description = "このサイトに関する様々な情報を掲載しています。";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
    <p>目的：</p>
        <ul>
            <li>ノートを整理するため</li>
            <li>ノートを共有するため</li>
        </ul>
    <p>扱う内容（予定）：</p>
        <ul>
            <li>場の量子論</li>
            <li>弦理論</li>
            <li>その他hep-thに関連する内容</li>
        </ul>
    <p>管理人について：</p>
        <ul>
            <li>修士課程在学中</li>
        </ul>
    <p>運営方針：</p>
        <ul>
            <li>可能な限り文献を参照・引用する</li>
        </ul>
</BaseLayout>