---
import Base from '../../layouts/BaseLayout.astro';
const title = "About";
const description = "Indexiv.orgについて";
const url = "https://indexiv.org/ja/about/";
const type = "website";
const lang = "ja";
---
<Base title={title} description={description} url={url} type={type} lang={lang}>
  <p>
    Indexiv.orgについて
  </p>
</Base>