---
import BaseLayout from "../../components/BaseLayout.astro";
const lang = "ja";
const type = "website";
const title = "About";
const description = "このサイトに関する様々な情報を掲載しています。";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
    <p>内容</p>
        <ul>
            <li>物理数学</li>
        </ul>
    <p>管理人</p>
        <ul>
            <li>大学院生（物理学）</li>
        </ul>
</BaseLayout>