---
import Base from '../../layouts/BaseLayout.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const title = "Blog";
const description = "dev news";
const url = "https://indexiv.org/ja/blog/";
const type = "website";
const lang = "ja";
---
<Base title={title} description={description} url={url} type={type} lang={lang}>
  <p>お知らせ</p>
  <ul>
      {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title} [{post.frontmatter.date}]</a></li>)}
  </ul>
</Base>