---
import Base from '../../layouts/BaseLayout.astro';
const title = "Home";
const description = "Indexivへようこそ。";
const url = "https://indexiv.org/ja/";
const type = "website";
const lang = "ja";
---
<Base title={title} description={description} url={url} type={type} lang={lang}>
  <p>
    Indexivへようこそ。
  </p>
</Base>