---
// レイアウト読み込み
import BaseLayout from "../../components/BaseLayout.astro"
// props
const lang = "ja";
const type = "website";
const title = "Misc";
const description = "予備のページです。";
---
<!-- レイアウト呼び出し -->
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <!-- タイトル -->
    <h1>{title}</h1>
    <!-- 説明 -->
    <p>{description}</p>
</BaseLayout>