---
import BaseLayout from "../../../components/BaseLayout.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
    const entries = await getCollection("ja");
    return entries.map((entry) => {
        const [category, slug] = entry.slug.split("/");
        return {
            params: { category, slug },
            props: { entry },
        };
    });
};
const { entry } = Astro.props;
const { Content, headings } = await render(entry);
const lang = "ja";
const type = "article";
const title = entry.data.title;
const description = entry.data.description;
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
    <div class="toc-box">
        <div>
            Contents
            <label><input type="checkbox" checked /></label>
        </div>
        <ul>
            {headings
                .filter(h => h.depth <= 2)
                .map(h => (
                    <li>
                        <a href={`#${h.slug}`}>{h.text}</a>
                    </li>
                ))}
        </ul>
    </div>
    <p>概要：{description}</p>
    <Content />
</BaseLayout>