---
import BaseLayout from "../../../components/BaseLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const entries = await getCollection("ja");
    const categories = [...new Set(entries.map(e => e.data.category))];
    return categories.map(cat => ({
        params: { category: cat }
    }));
}
const { category } = Astro.params;
const entries = await getCollection("ja");
const filtered = entries.filter(
    e => e.data.category === category
);
const catnames: Record<string, string> = {
    "peskin": "Peskin-Schroederを読む",
}
const lang = "ja";
const type = "website";
const description = catnames[category] ;
---
<BaseLayout lang={lang} type={type} title={catnames[category]} description={description}>
    <h1>{catnames[category]}</h1>
    <ul>
        {filtered.map(entry => (
            <li>
                <a href={`/${Astro.currentLocale}/${entry.slug}`}>
                    {entry.data.title}
                </a>
            </li>
        ))}
    </ul>
</BaseLayout>