---
import Base from '../../layouts/BaseLayout.astro';
const title = "About";
const description = "about Indexiv.org";
const url = "https://indexiv.org/en/about/";
const type = "website";
const lang = "en";
---
<Base title={title} description={description} url={url} type={type} lang={lang}>
  <h1>{title}</h1>
  <p>
    about Indexiv.org
  </p>
</Base>