---
import BaseLayout from "../../components/BaseLayout.astro";
const lang = "en";
const type = "website";
const title = "About";
const description = "This page contains various information about this website.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
	<div class="remark">
		<p>This English version is written using AI translation from the Japanese version.</p>
	</div>
    <p>Topics</p>
        <ul>
            <li>Quantum field theory</li>
            <li>String theory</li>
            <li>Other content related to hep-th</li>
        </ul>
    <p>Administrator</p>
        <ul>
            <li>Graduate student (Physics)</li>
        </ul>
</BaseLayout>