---
// レイアウト読み込み
import BaseLayout from "../../components/BaseLayout.astro"
// props
const lang = "en";
const type = "website";
const title = "About";
const description = "Indexiv is a website personally run by a graduate student. It summarizes what I have learned about theoretical physics and related mathematics.";
---
<!-- レイアウト呼び出し -->
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
    <!-- 注意書き -->
	<div class="remark">
		<p>This English version is written using AI translation from the Japanese version.</p>
	</div>
    <p>{description}</p>
</BaseLayout>