---
import BaseLayout from "../../components/BaseLayout.astro";
const lang = "en";
const type = "website";
const title = "About";
const description = "This page contains various information about this website.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
    <p>Topics</p>
        <ul>
            <li>Mathematics</li>
            <li>Physics</li>
        </ul>
    <p>Administrator</p>
        <ul>
            <li>Graduate student (Physics)</li>
        </ul>
</BaseLayout>