---
import Base from '../../layouts/BaseLayout.astro';
const title = "Home";
const description = "Welcome to Indexiv.";
const url = "https://indexiv.org/en/";
const type = "website";
const lang = "en";
---
<Base title={title} description={description} url={url} type={type} lang={lang}>
  <p>
    Welcome to Indexiv.
  </p>
</Base>