---
import BaseLayout from "../../components/BaseLayout.astro";
import { getCollection } from "astro:content";
import { LABELS } from "../en/labels";

const entries = await getCollection("en");
const categories = [
    ...new Set(
        entries.map(e => e.slug.split('/')[0])
    )
];

const lang = "en";
const type = "website";
const title = "Home";
const description = "Personal notes on theoretical physics";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
	<h1>{title}</h1>
    <p>{description}</p>
	<ul>
        {categories.map(category => (
            <li>
            <a href={`/en/${category}/`}>
                {LABELS[category]}
            </a>
            </li>
        ))}
    </ul>
</BaseLayout>
