---
// レイアウト読み込み
import BaseLayout from "../../components/BaseLayout.astro"
// 記事データを取得
import { getCollection } from "astro:content";
// enコレクションの全記事を取得
const entries = await getCollection("en");
// カテゴリの重複を排除してリスト化
const categories = [...new Set(entries.map(e => e.data.category))];

// カテゴリ名と英語表記の対応表
const catnames: Record<string, string> = {
	"quantum-field-theory": "Quantum Field Theory",
	"string-theory": "String Theory",
}

// props
const lang = "en";
const type = "website";
const title = "Home";
const description = "We collect and share information about theoretical physics.";
---
<!-- レイアウト呼び出し -->
<BaseLayout lang={lang} type={type} title={title} description={description}>
	<h1>{title}</h1>
	<p>{description}</p>
	<h2>Categories</h2>
	<ul>
		{categories.map(cat => (
			<li>
				{/* リンクを英語表記 */}
				<a href={`/${lang}/${cat}/`}>{catnames[cat]}</a>
			</li>
		))}
	</ul>
</BaseLayout>
