---
import BaseLayout from "../../components/BaseLayout.astro";

const lang = "en";
const type = "website";
const title = "Home";
const description = "A collection of formulas related to theoretical physics.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
	<h1>{title}</h1>
	<div class="remark">
		<p>This English version is written using AI translation from the Japanese version.</p>
	</div>
</BaseLayout>
