---
import BaseLayout from "../../components/BaseLayout.astro";
const lang = "en";
const type = "website";
const title = "Misc";
const description = "This is a spare page.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
	<div class="remark">
		<p>This English version is written using AI translation from the Japanese version.</p>
	</div>
    <p>{description}</p>
</BaseLayout>