---
import BaseLayout from "../../components/BaseLayout.astro";
const lang = "en";
const type = "website";
const title = "Spare";
const description = "This is a spare page.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}</p>
</BaseLayout>