---
import BaseLayout from "../components/BaseLayout.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("en");
const categories = [
    ...new Set(
        entries.map(e => e.slug.split('/')[0])
    )
];

const lang = "en";
const type = "website";
const title = "Home";
const description = "This is the homepage of this website.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
	<h1>{title}</h1>
    <p>{description}</p>
	<ul>
        {categories.map(category => (
            <li>
            <a href={`/en/${category}/`}>
                {category.charAt(0).toUpperCase() + category.slice(1)}
            </a>
            </li>
        ))}
    </ul>
</BaseLayout>
