---
import BaseLayout from "../components/BaseLayout.astro"
import { getCollection } from "astro:content";
const entries = await getCollection("en");
const categories = [...new Set(entries.map(e => e.data.category))];
const catnames: Record<string, string> = {
	"peskin": "[Peskin] Notes on Quantum Field Theory",
}
const lang = "en";
const type = "website";
const title = "Home";
const description = "I compile notes on theoretical physics. The goal is to share the progress made in filling in the gaps in textbooks. The content I cover is likely related to the hep-th field. I am currently a graduate student in the Department of Physics, and I manage this site while studying and conducting research. I hope it will be helpful to you.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
	<h1>{title}</h1>
	<div class="remark">
		<p>This English version is written using AI translation from the Japanese version.</p>
	</div>
	<p>{description}</p>
	<h2>Notes</h2>
	<ul>
		{categories.map(cat => (
			<li>
				<a href={`/${lang}/${cat}/`}>{catnames[cat]}</a>
			</li>
		))}
	</ul>
</BaseLayout>
