---
import BaseLayout from "../components/BaseLayout.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("en");
const categories = [
    ...new Set(
        entries.map(e => e.slug.split('/')[0])
    )
];

const lang = "en";
const type = "website";
const title = "Home";
const description = "A collection of formulas related to theoretical physics.";
---
<BaseLayout lang={lang} type={type} title={title} description={description}>
	<h1>{title}</h1>
	<div class="remark">
		<p>This English version is written using AI translation from the Japanese version.</p>
	</div>
	<ul>
        {categories.map(category => (
            <li>
            <a href={`/en/${category}/`}>
                {category}
            </a>
            </li>
        ))}
    </ul>
</BaseLayout>
