---
import Base from '../../../layouts/BaseLayout.astro';
const title = "Tags";
const description = "Tags index";
const url = "https://indexiv.org/en/tags/";
const type = "website";
const lang = "en";

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
    return [
        { params: { tag: "website" }, props: { posts: allPosts } },
        { params: { tag: "development" }, props: { posts: allPosts } },
        { params: { tag: "math" }, props: { posts: allPosts } },
        { params: { tag: "physics" }, props: { posts: allPosts } },
        { params: { tag: "tex" }, props: { posts: allPosts } },
        { params: { tag: "writing" }, props: { posts: allPosts } },
        { params: { tag: "books" }, props: { posts: allPosts } },
        { params: { tag: "music" }, props: { posts: allPosts } },
        { params: { tag: "anime" }, props: { posts: allPosts } },
        { params: { tag: "games" }, props: { posts: allPosts } },
        { params: { tag: "movies" }, props: { posts: allPosts } },
        { params: { tag: "misc" }, props: { posts: allPosts } },
    ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));
---
<Base title={title} description={description} url={url} type={type} lang={lang}>
    <p>{tag}</p>
    <ul>
        {filteredPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title} [{post.frontmatter.date}]</a></li>)}
    </ul>
</Base>