---
import BaseLayout from '../../../layouts/BaseLayout.astro';
const url = "https://indexiv.org/en/terms/" + Astro.params.tag + "/";
const type = "article";
const lang = "en";

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const entries = await getCollection('en');

    // 全タグ抽出
    const tagSet = new Set();

    for (const entry of entries) {
        entry.data.tags?.forEach(tag => tagSet.add(tag));
    }

    return Array.from(tagSet).map(tag => ({
        params: { tag },
        props: { tag }
    }));
}

const { tag } = Astro.props;
const entries = await getCollection('en');

// 該当タグでフィルタ
const filtered = entries.filter(e =>
    e.data.tags?.includes(tag)
);

import Breadcrumb from '../../../components/Breadcrumb.astro';

const crumbs = [
    { label: "Home", href: "/en/" },
    { label: tag, href: `/en/tags/${tag}/` }
];
---

<BaseLayout
    title={`Tag: ${tag}`}
    description={`Entries tagged with ${tag}`}
    url={`https://indexiv.org/en/tags/${tag}/`}
    type={type}
    lang={lang}
>
    <Breadcrumb items={crumbs} />
    <ul>
        {filtered.map(entry => (
        <li>
            <a href={`/en/terms/${entry.slug}/`}>
            {entry.data.title}
            </a>
        </li>
        ))}
    </ul>
</BaseLayout>
