---
import Header from './Header.astro';
import Footer from './Footer.astro';
import Breadcrumbs from './Breadcrumbs.astro';
import '../styles/global.css';
const { lang, type, title, description } = Astro.props;
const currentLocale = Astro.currentLocale;
const pathname = Astro.url.pathname;
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
const segments = pathname.split('/');
const enSegments = [...segments];
enSegments[1] = "en";
const enPath = enSegments.join('/');
const jaSegments = [...segments];
jaSegments[1] = "ja";
const jaPath = jaSegments.join('/');
const enUrl = new URL(enPath, Astro.site).toString();
const jaUrl = new URL(jaPath, Astro.site).toString();
---
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <meta property="og:title" content={`IndeXiv | ${title}`}>
        <meta property="og:description" content={description}>
        <meta property="og:type" content={type}>
        <meta property="og:url" content={canonical}>
        <meta property="og:image" content="https://indexiv.com/android-chrome-512x512.png">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content={`IndeXiv | ${title}`}>
        <meta name="twitter:description" content={description}>
        <meta name="twitter:image" content="https://indexiv.com/android-chrome-512x512.png">

        <link rel="canonical" href={canonical} />

        <link rel="alternate" href={enUrl} hreflang="en">
        <link rel="alternate" href={jaUrl} hreflang="ja">
        <link rel="alternate" href={enUrl} hreflang="x-default">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <link href="https://use.fontawesome.com/releases/v7.2.0/css/all.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600&family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">

        <title>IndeXiv | {title}</title>
    </head>
    <body id="top">
        <Header currentLocale={currentLocale} enPath={enPath} jaPath={jaPath} />

        <main>
            <Breadcrumbs segments={segments} />
            <div class="lastModified">
                <i class="fa-solid fa-clock-rotate-left"></i> {new Date()}
            </div>
            <div class="article">
                <slot />
            </div>
        </main>

        <aside class="sidebar">
            <div class="menu">
                <h4>Menu</h4>
                <ul class="sidebar-nav">
                    <li><a href={`/${currentLocale}/`}>Home</a></li>
                    <li><a href={`/${currentLocale}/about`}>About</a></li>
                    <li><a href={`/${currentLocale}/spare`}>Spare</a></li>
                </ul>

                <h4>Categories</h4>
                <ul class="sidebar-nav">
                    <li><a href={`/${currentLocale}/misc/`}>Miscellaneous</a></li>
                </ul>
            </div>
            <div class="backtotop">
                [<a href="#top" class="back-to-top">BACK TO TOP</a>]
            </div>
        </aside>
        
        <Footer currentLocale={currentLocale} />
    </body>
</html>