---
import Baselayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<Baselayout title={frontmatter.title} description={frontmatter.description} url={Astro.request.url} type="article" lang={frontmatter.lang}>
    <p>date：{frontmatter.date}</p>
    <p>description：{frontmatter.description}</p>
    <h4></h4>
    <slot />
</Baselayout>